* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'calibri', sans-serif;
    background: #f4f4f4;
}

#principal {
    min-height: 100vh;
    background: url('imagen/log.jpg') no-repeat center center;
    background-size: cover;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.logo {
    width: 100%;
    max-width: 300px;  /* Ajuste para mantener el logo flexible */
    height: auto;
}

.form-register {
    text-align: start;
    width: 90%;
    max-width: 400px;
    background: #24303c;
    padding: 30px;
    margin: 30px auto;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    display: flex;
    flex-direction: column;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: blue;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/* Media Queries para hacer el dise침o responsivo */
@media (max-width: 600px) {
    .form-register {
        width: 90%;
        margin-top: 20px;
    }

    .form-register h4 {
        font-size: 18px;
    }

    .controls {
        font-size: 16px;
    }

    .form-register .botons {
        font-size: 14px;
    }

    .logo {
        width: 80%;  /* Hacer el logo m치s peque침o en pantallas peque침as */
        max-width: 250px;
    }
}

